@model PJCMobile.Models.task

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.taskName)</h2>

<div class="display-field">
    @Html.DisplayFor(model => model.description)
</div>

<ul style="list-style-type: none;">
    @foreach (var item in (List<PJCMobile.Models.usertaskprompt>)ViewData["prompts"])
    {
        <li>@Html.DisplayFor(modelItem => item.prompt.title)</li>
        <li>
            @if(item.prompt.typeID == 1){
                <iframe width="560" height="315" src="@Html.DisplayFor(modelItem => item.prompt.description)" frameborder="0" allowfullscreen></iframe>
            }
            else if (item.prompt.typeID == 2)
            {
                <audio controls>
                    <source src="@Html.DisplayFor(modelItem => item.prompt.description)" type="audio/ogg">
                    <source src="@Html.DisplayFor(modelItem => item.prompt.description)" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                @*<iframe width="560" height="20" src="@Html.DisplayFor(modelItem => item.description)" frameborder="0"></iframe>*@
            }
            else if (item.prompt.typeID == 3)
            {
                <img src="@Html.DisplayFor(modelItem => item.prompt.description)" />
            }
            else if (item.prompt.typeID == 4)
            {
                string[] list = item.prompt.description.Split('\n');
                <ul>
                    @foreach(var i in list){
                        <li style="padding:10px;">@i</li>
                    }
                </ul>
            }
        </li>
            
        <li>----</li>
    }
</ul>
<ul data-role="listview" data-inset="true">
    <li>
        @*@Html.ActionLink("Finish", "Index", "Task", null, new { @class="ui-btn-left", data_icon = "arrow-l", data_rel = "back" })*@
        @Html.ActionLink("Finish", "Finish", new { taskID=Model.taskID, data_rel = "back" })
    </li>
</ul>

