@model PJCMobile.Models.task

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.taskName)</h2>

<div class="display-field">
    @Html.DisplayFor(model => model.description)
</div>

<ul style="list-style-type: none;">
    @foreach (var item in Model.prompts)
    {

        <li>@Html.DisplayFor(modelItem => item.title)</li>
        <li>
            <img src="@Html.DisplayFor(modelItem => item.description)" /></li>
        <li>----</li>
    }
</ul>
<ul data-role="listview" data-inset="true">
    <li>
        @Html.ActionLink("Finished!", "Index", "Task")
    </li>
</ul>
