@model Pocket_Job_Coach.Models.AdminData

@{
    ViewBag.Title = "Admin";
    
}

<h2>Admin</h2>

<h3>Add A User</h3>
@using (Html.BeginForm())
{
    <fieldset>
        @*First name:<br />
    <input type="text" name="firstname" style="width:200px;" />
    <br />
    Last name:<br />
    <input type="text" name="lastname" style="width:200px;" />
    <br />*@

        @Html.TextBoxFor(a => a.firstName)
        @Html.TextBoxFor(a => a.lastName)

        <input type="submit" value="Submit" style="margin-top:50px; width:100px;" />
    </fieldset>
}

<div id="showUsers" style="margin-top: 100px;">
    <h3>List of Users:</h3>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in ViewData.Model)
            {
                <tr>
                    <td>@item["firstName"]</td>
                    <td>@item["lastName"]</td>
                </tr>
            }*@
        </tbody>
    </table>
</div>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>