@model PJCAdmin.Models.prompt

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Prompt for <i>@Model.task.taskName</i></h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>prompt</legend>

        @Html.HiddenFor(model => model.promptID)

        <div class="editor-label">
            @Html.LabelFor(model => model.typeID, "Prompt Type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("typeID", String.Empty)
            @Html.ValidationMessageFor(model => model.typeID)
            
        </div>
        @Html.HiddenFor(model => model.taskID)
        @*<div class="editor-label">
            @Html.LabelFor(model => model.taskID, "task")
        </div>
        <div class="editor-field">
            @Html.DropDownList("taskID", String.Empty)
            @Html.ValidationMessageFor(model => model.taskID)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label" id="labelURL">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field" id="fieldURL">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <p>
            <input type="submit" value="Save" />
          </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.taskID})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        if ($('select[name="typeID"]').val() == "4") {
            $("#fieldURL:first input").remove();
            var data = "@Model.description.Replace("\r\n", "#")";
            $("#fieldURL:first").append("<textarea name='description' id='description'>" + data.replace(/#/g, "\n") + "</textarea>");
            $("#labelURL").html("<label>List</label>");
        }

        $('select[name="typeID"]').change(function(){
            if ($(this).val() == "4"){
                $("#fieldURL:first input").remove()
                $("#fieldURL:first").append("<textarea name='description' id='description'>" + data.replace(/#/g, "\n") + "</textarea>");
                $("#labelURL").html("<label>List</label>");
            }
            else{
                $("#fieldURL:first textarea").remove();
                $("#labelURL").html("<label>URL</label>");
                if ($("#fieldURL:first input").size() == 0)
                    $("#fieldURL:first").append("<input type='url' name='description' id='description'\>");
            }
        });
    });
</script>
