@model PJCAdmin.Models.job


@{
    ViewBag.Title = "Create";

}

<script type="text/javascript">
    function AddAllTasks() {
        var rowCount = $('#allTasksList li').length;
        var index = rowCount + 1;
        $('#myteams').append("<tr><td><input type='hidden' name='teams.Index' value='" + index + "' /><input type='text' name='teams[" + index + "].TeamName' /></td><td><input type='text'  name='teams[" + index + "].Country'/></td></tr>");
    }
</script>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>job</legend>

        <div class="editor-label">
            <!--@Html.LabelFor(model => model.jobTitle)-->
            <h3>Job Title:</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.jobTitle)
            @Html.ValidationMessageFor(model => model.jobTitle)
        </div>

        <br />
        <fieldset>

            <h3>Available Tasks:</h3>
            
            <table id="allTasksList">
                @for(int i = 0; i < ((List<PJCAdmin.Models.task>)ViewData["Tasks"]).Count; i++){
                    <tr>
                        <td>
                            @Html.Label(((List<PJCAdmin.Models.task>)ViewData["Tasks"]).ElementAt(i).taskName, new { @class = "actionlinkasbutton", style = "display:inline; padding:10px 15px;" })
                        </td>
                        <td>
                            <button class="task" style="display:inline;" data-taskid="@((List<PJCAdmin.Models.task>)ViewData["Tasks"]).ElementAt(i).taskID" data-selected="false">Add</button>
                            @Html.CheckBox("taskList["+i+"]", false, new Dictionary<string, object> { { "value", ((List<PJCAdmin.Models.task>)ViewData["Tasks"]).ElementAt(i).taskID }, {"style","display:none;"}})
                        </td>
                    </tr>
                }
                </table>


            </fieldset>
                    <br />
                    <p>
                        <input type="submit" value="Create Job" /> &nbsp; | &nbsp; @Html.ActionLink("Back to List", "Index")
                    </p>
                </fieldset>

}


                <script>
                    $(function () {
                        $('button.task').on('click', function (e) {
                            e.preventDefault();
                            e.stopPropagation();
                            if ($(this).data("selected") == "true") {
                                $(this).data("selected", "false");
                                $(this).html("Add");
                                $('input[type="checkbox"]', $(this).parent()).attr("checked", false);
                            } else {
                                $(this).data("selected", "true");
                                $(this).html("Remove");
                                $('input[type="checkbox"]', $(this).parent()).attr("checked", true);
                            }
                        })
                    })
                </script>
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
