@model PJCAdmin.Models.job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<br />
<fieldset>
    <legend>job</legend>

    @*<div class="display-label">
             @Html.DisplayNameFor(model => model.jobTitle)
        </div>*@
    <h3>Job Title</h3>

    <div class="display-field">
        <div style="margin-left:50px;">
            @Html.DisplayFor(model => model.jobTitle)
            @*@@Html.DisplayFor(model => model.jobID)*@
            @*@@Html.DisplayFor(model => model.tasks)*@
        </div>

        <h3>Assigned Tasks:</h3>
        <div style="margin-left:50px;">
            @foreach (var item in Model.tasks)
            {
                <table>
                    <tr>
                        <td>
                            @item.taskName
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Edit") |
                            @Html.ActionLink("Details", "Details", "Edit") |
                            @Html.ActionLink("Delete", "Delete", "Edit")
                        </td>
                    </tr>
                </table>
            }
        </div>

    </div>
    <br />
    <br />







</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.jobID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
