@{
    ViewBag.Title = "Home Page";
}

@section Header {
    @Html.ActionLink(User.Identity.Name, "Index", "Account", routeValues: null, htmlAttributes: new { @class="ui-btn-right", data_icon = "gear" })
    <h1>@ViewBag.Title</h1>
}

<h2>@ViewBag.date</h2>


<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Alerts", "About", "Home")</li>
    <li>@Html.ActionLink("Task", "Index", "Task")</li>
    <li>@Html.ActionLink("Tools", "Index", "Tools")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>