@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.date</h2>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Alerts", "About", "Home")</li>
    <li>@Html.ActionLink("Task", "Index", "Task")</li>
    <li>@Html.ActionLink("Tools", "Index", "Tools")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>