<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Pocket Job Coach</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/font-awesome.css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <a href="http://pjc.gear.host"><img src="~/Content/pjclogo.png" /></a>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    @if (Request.IsAuthenticated) {
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Users", "List", "Account")</li>
                            <li>@Html.ActionLink("Routines", "List", "Routine")</li>
                            <li>@Html.ActionLink("Jobs", "Index", "Job")</li>
                            <!--Need to update notes link to notes pages once set up notes functionality-->
                            <li>@Html.ActionLink("Notes", "Index", "Home")</li>
                        </ul>
                    </nav>
                    }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - PARC Pocket Job Coach</p>
                </div>
            </div>
        </footer>

        
        @RenderSection("scripts", required: false)
        <script>
            $(function () {
                $('[rel="timepicker"]').timepicker({
                    timeFormat: "hh:mm tt"
                });
            });
        </script>
    </body>
</html>
