@model IEnumerable<PJCAdmin.Models.prompt>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

@*<div> "This is a test for _Prompt" </div>*@

<div id="reloadPromptContent">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.prompttype.typeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.taskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>

                <td>
                    @*@Html.ActionLink("Delete", "Delete", "Prompt", new { id = item.promptID }, null)*@
                    @Ajax.ActionLink("Delete", "Delete", "Prompt", new { id = item.promptID }, new AjaxOptions() { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "reloadPromptContent" }, new { @class = "actionlinkasbutton" })
                </td>
            </tr>
        }
    </table>

</div>
