@model IEnumerable<PJCAdmin.Models.usertype>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.typeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.typeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.userTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userTypeID })
        </td>
    </tr>
}

</table>
