@model PJCAdmin.Models.task

@{
    ViewBag.Title = "Create Task";
}

<h2>Create Task</h2>

<script type="text/javascript">
    function AddPrompt() {
        var rowCount = $('#insertprompt tr').length;
        var index = rowCount + 1;
        $('#insertprompt').append("<tr><td><input type='hidden' name='prompts.Index' value='" +
            index + "' /><input type='text' name='prompts.typeName' /></td></tr><tr><td><input type='hidden' name='prompts.Index' value='" +
            index + "' /><input type='text' name='prompts.title' /></td></tr> <tr><td><input type='hidden' name='prompts.Index' value='" +
            index + "' /><input type='text' name='prompts.description' /></td></tr> <tr><td>________________________</td></tr>");
    }
</script>

@*Html.BeginForm is analogous to <form> tag*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>task</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.taskCategoryID, "Task Category")
        </div>
        <div class="editor-field">
            @*This drop down should display the task category name (since we "include"d this in Index())*@
            @Html.DropDownList("taskCategoryID", "Select a task category")
            @Html.ValidationMessageFor(model => model.taskCategoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.taskName)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.taskName)
            @Html.ValidationMessageFor(model => model.taskName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>
        @*-----------------------------------------*@
        <div class="editor-label">
            @Html.Label("Type")
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.prompts)*@
            @Html.DropDownList("promptTypeID", String.Empty)         
        </div>

        <div class="editor-label">
            @Html.Label("Title")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prompts.)
        </div>
        <div class="editor-label">
            @Html.Label("URL")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prompts)
        </div>
        <input type="button" value="Add Media Link" onclick="AddPrompt();" />
        @*@Html.Partial("_Prompt", new List<PJCAdmin.Models.prompttype>())*@

        <table id="insertprompt">
            <tr>
            </tr>
        </table>
    </fieldset>
   
     <p>
        <input type="submit" value="Done" />
    </p>
}

<div>
    @Html.ActionLink("<< Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
