@model PJCAdmin.Models.task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
<h3>Task</h3>
<fieldset style="padding-left:20px">
    <legend>task</legend>
    @*--------------------Task----------------------*@
    <table>
        <tr>
            <td>
               <i> @Html.DisplayNameFor(model => model.taskcategory.categoryName)</i>
            </td>
            <td>
                @Html.DisplayFor(model => model.taskcategory.categoryName)
            </td>
        </tr>
        <tr>
            <td>
                <i>@Html.DisplayNameFor(model => model.taskName)</i>
            </td>
            <td>
                @Html.DisplayFor(model => model.taskName)
            </td>
        </tr>
        <tr>
            <td>
               <i>@Html.DisplayNameFor(model => model.description)</i>
            </td>
            <td>
                @Html.DisplayFor(model => model.description)
            </td>
        </tr>
    </table>
</fieldset>
@*--------------------Prompt----------------------*@
<h3>Prompts</h3>
<fieldset>
    <table>
        @if (Model.prompts.Count() > 0)
        {
            <tr></tr>

            foreach (var item in Model.prompts)
            {
                <tr>
                    <td>
                        @if (item.prompttype.typeName == "Picture")
                        {
                            <a href=@item.description target="_blank"><img src="@item.description" style="max-height:100px;" /></a>
                        }
                        else if (item.prompttype.typeName == "Video")
                        {
                             <a href=@item.description target="_blank"><img src="http://img.youtube.com/vi/@item.description.Split('/').Last()/default.jpg" style="max-width:200px;" /></a>
                        }
                        else if (item.prompttype.typeName == "Audio")
                        {
                            <a href="@item.description">Audio</a>
                        }
                        else if (item.prompttype.typeName == "List")
                        {
                            string[] list = item.description.Split('\n');
                            <ul>
                                @foreach (var i in list)
                                {
                                    <li style="padding:10px;">@i</li>
                                }
                            </ul>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.description)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                        <br />
                        @Html.DisplayFor(modelItem => item.prompttype.typeName)


                    </td>

                </tr>
            }
        }
        else
        {
            <tr>No prompts have been created for this task.</tr>
        }
    </table>
    @Html.ActionLink("Manage Prompts", "Index", "Prompt", new { id = Model.taskID }, null)
</fieldset>

@*---------------------------------------------------*@
<hr />
@Html.ActionLink("Edit Task", "Edit", new { id = Model.taskID }, new { @class = "actionlinkasbutton" })
<br />
@Html.ActionLink("<< Back to List", "Index")
