@model PJCAdmin.Models.task

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <h3>Task</h3>
    <hr />
    <fieldset>
        <legend>task</legend>
        @*--------------------Task----------------------*@
        @Html.HiddenFor(model => model.taskID)

        <div class="editor-label">
            @Html.LabelFor(model => model.taskCategoryID, "Task Category") @*HOW TO CHANGE THE DISPLAY NAME WITHOUT CHANGING THE MODEL*@
        </div>
        <div class="editor-field">
            @Html.DropDownList("taskCategoryID", String.Empty)
            @Html.ValidationMessageFor(model => model.taskCategoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.taskName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.taskName)
            @Html.ValidationMessageFor(model => model.taskName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>
    </fieldset>
    <br />
    <br />
    <h3>Media</h3>
    <hr />
    <fieldset>
        @*--------------------Prompt-----------------*@
        @foreach (var item in Model.prompts)
        {
            <div class="editor-label">
                @Html.LabelFor(modelItem => item.title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(modelItem => item.title)
            </div>
            @*-----*@
            <div class="editor-label">
                @Html.LabelFor(modelItem => item.prompttype.typeName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(modelItem => item.prompttype.typeName)
            </div>
            @*-----*@
            <div class="editor-label">
                @Html.LabelFor(modelItem => item.description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(modelItem => item.description)
            </div>
            <br />
        }

        @*-------------------------------------------*@
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
