@model PJCAdmin.Models.task

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <h3>Task</h3>
    <hr />
    <fieldset>
        <legend>task</legend>
        @*--------------------Task----------------------*@
        @Html.HiddenFor(model => model.taskID)

        <div class="editor-label">
            @Html.LabelFor(model => model.taskCategoryID, "Task Category") @*HOW TO CHANGE THE DISPLAY NAME WITHOUT CHANGING THE MODEL*@
        </div>
        <div class="editor-field">
            @Html.DropDownList("taskCategoryID", String.Empty)
            @Html.ValidationMessageFor(model => model.taskCategoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.taskName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.taskName)
            @Html.ValidationMessageFor(model => model.taskName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>
    <br />
    @*<br />
    <h3>Prompt</h3>
    <hr />*@

            @*--------------------Prompt-----------------*@
            @*@Html.Partial("_Prompt", Model.prompts)*@
            @*-------------------------------------------*@
        @Html.ActionLink("Go To Prompts", "Index", "Prompt", new { id = Model.taskID},null)
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<hr />
<div>
    @Html.ActionLink("<< Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
