@{
    ViewBag.Title = "Add Assigned Task for " + @ViewData["Username"];
}

<h2>Add Assigned Task for @ViewData["Username"]</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

<fieldset>
    <input type="hidden" name="username" value="@ViewData["Username"]" />
    <label>Task</label>
    <select name="taskID" id="taskID">
        @for (int i = 0; i < ((List<PJCAdmin.Models.task>)ViewData["Tasks"]).Count; i++)
        {
            <option value="@(((List<PJCAdmin.Models.task>)ViewData["Tasks"]).ElementAt(i).taskID)">
                @Html.Label(((List<PJCAdmin.Models.task>)ViewData["Tasks"]).ElementAt(i).taskName)
            </option>
        }   
    </select>
    <br /><br />
    <label>Date\Time Settings</label>
    <table cellpadding="15">
        <thead>
            <tr style="border-bottom:solid 1px black;">
                <th style="text-align:center;padding-left:15px;">Sunday</th>
                <th style="text-align:center;padding-left:15px;">Monday</th>
                <th style="text-align:center;padding-left:15px;">Tuesday</th>
                <th style="text-align:center;padding-left:15px;">Wednesday</th>
                <th style="text-align:center;padding-left:15px;">Thursday</th>
                <th style="text-align:center;padding-left:15px;">Friday</th>
                <th style="text-align:center;padding-left:15px;">Saturday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:center;border-right:solid black 1px;padding:5px;">@Html.CheckBox("daysofweek[0]", false, new { value = "S" })</td>
                <td style="text-align:center;border-right:solid black 1px;padding:5px;">@Html.CheckBox("daysofweek[1]", true, new { value = "M" })</td>
                <td style="text-align:center;border-right:solid black 1px;padding:5px;">@Html.CheckBox("daysofweek[2]", true, new { value = "T" })</td>
                <td style="text-align:center;border-right:solid black 1px;padding:5px;">@Html.CheckBox("daysofweek[3]", true, new { value = "W" })</td>
                <td style="text-align:center;border-right:solid black 1px;padding:5px;">@Html.CheckBox("daysofweek[4]", true, new { value = "R" })</td>
                <td style="text-align:center;border-right:solid black 1px;padding:5px;">@Html.CheckBox("daysofweek[5]", true, new { value = "F" })</td>
                <td style="text-align:center;padding-left:15px;">@Html.CheckBox("daysofweek[6]", false, new { value = "A" })</td>
            </tr>
        </tbody>
    </table>
    <br />
    <label>Start Time</label>
    <input type="text" name="starttime" value="" rel="timepicker" />
    <br />
    <label>End Time</label>
    <input type="text" name="endtime" value="" rel="timepicker" />
    <br />
    <label>Feedback Message</label>
    <input type="text" name="feedback" value="" />
    <br />
    <input type="submit" value="Assign Task" />
</fieldset>
}
<br />
@Html.ActionLink("Back to Assigned Tasks", "AssignedTasks", new { user = ViewData["Username"] })