
@{
    string user = ((MembershipUser)ViewData["User"]).UserName;
    ViewBag.Title = user + "'s Assigned Tasks";
}

<h2>Assigned Tasks for @(((MembershipUser)ViewData["User"]).UserName)</h2>
@if (((List<PJCAdmin.Models.usertask>)ViewData["Tasks"]).Count > 0) {
<table>
    <thead>
        <tr>
            <th>Task</th>
            <th>Schedule</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (PJCAdmin.Models.usertask ut in ((List<PJCAdmin.Models.usertask>)ViewData["Tasks"]))
            {
                <tr>
                    <td>@ut.task.taskName</td>
                    <td>@ut.daysOfWeek.Replace("S", " Sun. /").Replace("M", " Mon. /").Replace("T", " Tue. /").Replace("W", " Wed. /").Replace("R", " Thu. /").Replace("F", " Fri. /").Replace("A", " Sat.").Trim('/').Trim()
                    @if(ut.startTime != null || ut.endTime != null){
                        <br /> 
                        @(((DateTime)ut.startTime).ToString("t"));
                        @Html.Raw("-");
                        @(((DateTime)ut.endTime).ToString("t"));
                    }
                    </td>
                    <td>@Html.ActionLink("Manage Prompts", "ManagePrompts", new { username = ((MembershipUser)ViewData["User"]).UserName, taskID = ut.taskID }) | @Html.ActionLink("Edit", "EditAssignedTask", new { username = ((MembershipUser)ViewData["User"]).UserName, taskID = ut.taskID }) | @Html.ActionLink("Remove", "RemoveAssignedTask", new { username = ((MembershipUser)ViewData["User"]).UserName, taskid = ut.taskID })</td>
                </tr>
            }
    </tbody>
</table>
}
else
{
    <p>No Tasks are Assigned to this User</p>
}
<br />
@Html.ActionLink("Assign New Task", "AddAssignedTask", new { username = ((MembershipUser)ViewData["User"]).UserName }) | @Html.ActionLink("Back to User Details", "Details", new { user = ((MembershipUser)ViewData["User"]).UserName }) 