@model PJCAdmin.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<h1>@ViewBag.Title</h1>

<p>
    Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <div data-role="list-divider">Account information</div>

        <div data-role="fieldcontain">
            @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword)            
        </div>

        <div data-role="fieldcontain">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword)            
        </div>

        <div data-role="fieldcontain">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)            
        </div>

        <div data-role="fieldcontain">
            <input type="submit" value="Change password" />
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}