@model PJCAdmin.Models.RegisterModel
@{
    ViewBag.Title = "Create User";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new user account.</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                <label>User Type</label>
                <select name="usertype" class="form-control">
                    @foreach (string role in Roles.GetAllRoles())
                    {
                        if (role == "User")
                        {
                            <option value="@role" selected>@role</option>
                        }
                        else
                        {
                            <option value="@role">@role</option>
                        }
                    }
                </select>
            </li>
        </ol>
        <input type="submit" value="Create User" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
