@model PJCAdmin.Models.RegisterModel
@{
    ViewBag.Title = "Create User";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new user account.</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                <label>User Type</label>
                <select name="userRole" class="form-control">
                    @foreach (string role in Roles.GetAllRoles())
                    {
                        if (role == "User")
                        {
                            <option value="@role" selected>@role</option>
                        }
                        else
                        {
                            <option value="@role">@role</option>
                        }
                    }
                </select>
            </li><!--
            <li>
                <label>Job</label>
                <select name="job" id="selectjob">
                    <option value=""></option>
                    atfor (int i = 0; i < ((List<PJCAdmin.Models.Routine>)ViewData["Jobs"]).Count; i++)
                    {
                        <option value="at(((List<PJCAdmin.Models.Routine>)ViewData["Jobs"]).ElementAt(i).routineID)">
                            atHtml.Label(((List<PJCAdmin.Models.Routine>)ViewData["Jobs"]).ElementAt(i).routineTitle)
                        </option>
                    }
                </select>
                <label>Apply Template Tasks <input type="checkbox" name="applyJobTemplate" value="1" /></label>
            </li>
                     -->
            <li style="margin-top:20px;"><label>Assigned Users</label></li>
            <li>
                <ul id="assignedUsersList">
                    <li id="nousers" style="color:#999"><i>No Assigned Users</i></li>
                </ul>
            </li>
            <li style="margin-top:20px;">
                <select name="selectAddUsers" id="selectAddUsers">
                    @for (int i = 0; i < ((List<MembershipUser>)ViewData["AvailableUsers"]).Count; i++)
                    {
                        <option value="@(((List<MembershipUser>)ViewData["AvailableUsers"]).ElementAt(i).UserName)">
                            @Html.Label(((List<MembershipUser>)ViewData["AvailableUsers"]).ElementAt(i).UserName)
                        </option>
                    }
                </select>
                <button id="addUser">Assign User</button>
            </li>
        </ol>
        <input type="submit" value="Create User" />
    </fieldset>
}

<script>
    $(function () {
        $('#addUser').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            if ($('#nousers').size() > 0)
                $('#nousers').remove();
            var id = $('#selectAddUsers').val();
            var name = $('#selectAddUsers option:selected').html();
            $('#assignedUsersList').append('<li>' + name + '&nbsp; &nbsp;<button class="remove-user"><i class="fa fa-trash"></i></button><input type="hidden" name="assignedUsers[' + ($('#assignedUsersList').size()).toString() + ']"  value="' + id + '" /></li>')
        });

        $('#assignedUsersList').on('click', '.remove-user', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).parent().remove();
            if ($('#assignedUsersList').children().size() == 0) {
                $('#assignedUsersList').append('<li id="nousers" style="color:#999"><i>No Assigned Users</i></li>');
            }
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
