@model MembershipUser
@{
    ViewBag.Title = "Edit";

    ProfileCommon userProfile = (ProfileCommon)ProfileCommon.Create(Model.UserName, true);
}

<h2>Edit User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.DisplayFor(m => m.UserName)
                @Html.HiddenFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @if (Roles.IsUserInRole("Administrator"))
                {
                    @Html.TextBoxFor(m => m.Email)
                }
                else
                {
                    @Model.Email
                    @Html.HiddenFor(m => m.Email)
                }
            </li>
            <li>
                <label>Phone Number</label>
                <input type="text" name="phonenumber" value="@userProfile.PhoneNumber" />
            </li>
            <li>
                <label>User Type</label>
                @if (Roles.IsUserInRole("Administrator"))
                {
                    <select name="usertype" class="form-control">
                        @foreach (string role in Roles.GetAllRoles())
                        {
                            if (Roles.IsUserInRole(Model.UserName, role))
                            {
                                <option value="@role" selected>@role</option>
                            }
                            else
                            {
                                <option value="@role">@role</option>
                            }
                        }
                    </select>
                }
                else
                {
                    @Roles.GetRolesForUser()[0]
                    <input type="hidden" name="usertype" value="@Roles.GetRolesForUser()[0]" />
                }
            </li>
            <!--
            <li>
                <label>Job</label>
                <select name="job" id="selectjob">
                    <option value="">None</option>
                    //atfor (int i = 0; i < ((List<PJCAdmin.Models.Routine>)ViewData["Jobs"]).Count; i++)
                    {

                        <option value="at//(((List<PJCAdmin.Models.Routine>)ViewData["Jobs"]).ElementAt(i).routineID)" at//if (((PJCAdmin.Models.Routine)ViewData["SelectedJob"]).routineID == ((List<PJCAdmin.Models.Routine>)ViewData["Jobs"]).ElementAt(i).routineID) { atHtml.Raw("selected")} >
                            //atHtml.Label(((List<PJCAdmin.Models.Routine>)ViewData["Jobs"]).ElementAt(i).routineTitle)
                        </option>
                    }
                </select>
                <label>Apply Template Tasks <input type="checkbox" name="applyJobTemplate" value="true" /></label>

            </li>-->
            @if (Roles.IsUserInRole(Model.UserName, "Job Coach"))
            {
                <li style="margin-top:20px;"><label>Assigned Users</label></li>
                <li>
                    <ul id="assignedUsersList">
                        @if (((List<MembershipUser>)ViewData["AssignedUsers"]).Count > 0)
                    {
                        for (int i = 0; i < ((List<MembershipUser>)ViewData["AssignedUsers"]).Count; i++)
                        {
                                <li>
                                    @(((List<MembershipUser>)ViewData["AssignedUsers"]).ElementAt(i).UserName)
                                    @if (Roles.IsUserInRole("Administrator"))
                                    {
                                        <span>&nbsp; &nbsp;</span><button class="remove-user" data-taskid="@(((List<MembershipUser>)ViewData["AssignedUsers"]).ElementAt(i).UserName)" data-selected="false"><i class="fa fa-trash"></i></button>
                                    }
                                    @Html.Hidden("AssignedUsers[" + i + "]", ((List<MembershipUser>)ViewData["AssignedUsers"]).ElementAt(i).UserName)
                                </li>
                            }
                        }
                        else
                        {
                            <li id="nousers" style="color:#999"><i>No Assigned Users</i></li>
                        }
                    </ul>
                </li>

                if (Roles.IsUserInRole("Administrator"))
                {
                    <li style="margin-top:20px;">
                        <select name="selectAddUsers" id="selectAddUsers">
                            @for (int i = 0; i < ((List<MembershipUser>)ViewData["AvailableUsers"]).Count; i++)
                        {
                                <option value="@(((List<MembershipUser>)ViewData["AvailableUsers"]).ElementAt(i).UserName)">
                                    @Html.Label(((List<MembershipUser>)ViewData["AvailableUsers"]).ElementAt(i).UserName)
                                </option>
                            }
                        </select>
                        <button id="addUser">Assign User</button>
                    </li>
                }
            }

            @if (Roles.IsUserInRole(Model.UserName, "Parent"))
            {
                <li style="margin-top:20px;"><label>Children</label></li>
                <li>
                    <ul id="assignedUsersList">
                        @if (((List<MembershipUser>)ViewData["Children"]).Count > 0)
                    {
                        for (int i = 0; i < ((List<MembershipUser>)ViewData["Children"]).Count; i++)
                        {
                                <li>
                                    @(((List<MembershipUser>)ViewData["Children"]).ElementAt(i).UserName)
                                    @if (Roles.IsUserInRole("Administrator"))
                                    {
                                        <span>&nbsp; &nbsp;</span><button class="remove-user" data-taskid="@(((List<MembershipUser>)ViewData["Children"]).ElementAt(i).UserName)" data-selected="false"><i class="fa fa-trash"></i></button>
                                    }
                                    @Html.Hidden("Children[" + i + "]", ((List<MembershipUser>)ViewData["Children"]).ElementAt(i).UserName)
                                </li>
                            }
                        }
                        else
                        {
                            <li id="nousers" style="color:#999"><i>No Children</i></li>
                        }
                    </ul>
                </li>
                //need to fix this so it only shows users that have the users type, not all users
                if (Roles.IsUserInRole("Administrator"))
                {
                    <li style="margin-top:20px;">
                        <select name="selectAddUsers" id="selectAddUsers">
                            @for (int i = 0; i < ((List<MembershipUser>)ViewData["AvailableChildren"]).Count; i++)
                            {
                                <option value="@(((List<MembershipUser>)ViewData["AvailableChildren"]).ElementAt(i).UserName)">
                                    @Html.Label(((List<MembershipUser>)ViewData["AvailableChildren"]).ElementAt(i).UserName)
                                </option>
                            }
                        </select>
                        <button id="addUser">Assign User</button>
                    </li>
                }
            }

            @if (Roles.IsUserInRole(Model.UserName, "User"))
            {
                <li style="margin-top:20px;"><label>Parent</label></li>
                <li>
                    <ul id="assignedUsersList">
                        @if (ViewData["Parent"] != null)
                        {
                                <li>
                                    @ViewData["Parent"]
                                    @if (Roles.IsUserInRole("Administrator"))
                                    {
                                        <span>&nbsp; &nbsp;</span><button class="remove-user" data-taskid="@ViewData["Parent"]" data-selected="false"><i class="fa fa-trash"></i></button>
                                    }
                                    @Html.Hidden("Parent", ViewData["Parent"])
                                </li>
                        }
  
                        else
                        {
                            <li id="nousers" style="color:#999"><i>No Children</i></li>
                        }
                    </ul>
                </li>

                <li style="margin-top:20px;"><label>Job Coach</label></li>
                <li>
                    <ul id="assignedUsersList">
                        @if (ViewData["Job Coach"] != null)
                        {
                            <li>
                                @ViewData["Job Coach"]
                                @if (Roles.IsUserInRole("Administrator"))
                                {
                                    <span>&nbsp; &nbsp;</span><button class="remove-user" data-taskid="@ViewData["Job Coach"]" data-selected="false"><i class="fa fa-trash"></i></button>
                                }
                                @Html.Hidden("Job Coach", ViewData["Job Coach"])
                            </li>
                        }

                        else
                        {
                            <li id="nousers" style="color:#999"><i>No Children</i></li>
                        }
                    </ul>
                </li>

                if (Roles.IsUserInRole("Administrator"))
                {
                    if (ViewData["Job Coach"] == null)
                    {
                        <li style="margin-top:20px;">
                            <select name="selectAddUsers" id="selectAddUsers">
                                @for (int i = 0; i < ((List<MembershipUser>)ViewData["AvailableJobCoaches"]).Count; i++)
                                {
                                    <option value="@(((List<MembershipUser>)ViewData["AvailableJobCoaches"]).ElementAt(i).UserName)">
                                        @Html.Label(((List<MembershipUser>)ViewData["AvailableJobCoaches"]).ElementAt(i).UserName)
                                    </option>
                                }
                            </select>
                            <button id="addUser">Assign Job Coach</button>
                        </li>
                    }

                    if (ViewData["Parent"] == null)
                    {
                        <li style="margin-top:20px;">
                            <select name="selectAddUsers" id="selectAddUsers">
                                @for (int i = 0; i < ((List<MembershipUser>)ViewData["AvailableParents"]).Count; i++)
                                {
                                    <option value="@(((List<MembershipUser>)ViewData["AvailableParents"]).ElementAt(i).UserName)">
                                        @Html.Label(((List<MembershipUser>)ViewData["AvailableParents"]).ElementAt(i).UserName)
                                    </option>
                                }
                            </select>
                            <button id="addUser">Assign Parent</button>
                        </li>
                    }
                }
            }
        </ol>
        <input type="submit" value="Save" />
    </fieldset>
}

<script>
    $(function () {
        $('#addUser').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            if ($('#nousers').size() > 0)
                $('#nousers').remove();
            var id = $('#selectAddUsers').val();
            var name = $('#selectAddUsers option:selected').html();
            $('#assignedUsersList').append('<li>' + name + '&nbsp; &nbsp;<button class="remove-user"><i class="fa fa-trash"></i></button><input type="hidden" name="selectedUsers[' + ($('#assignedUsersList').size() - 1).toString() + ']"  value="' + id + '" /></li>')
        });

        $('#assignedUsersList').on('click', '.remove-user', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).parent().remove();
            if ($('#assignedUsersList').children().size() == 0) {
                $('#assignedUsersList').append('<li id="nousers" style="color:#999"><i>No Assigned Users</i></li>');
            }
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<p>
    <!--atHtml.ActionLink("Back to User Details", "Details", new { user = Model.UserName }) |-->
    @Html.ActionLink("Back to List", "List")
</p>
