@{
ViewBag.Title = "Users";
}

<h2>Users</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            User
        </th>
        <th></th>
    </tr>
@foreach (MembershipUser user in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => user.UserName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { user = user.UserName }) |
            @Html.ActionLink("Edit", "Edit", new { user = user.UserName }) |
            @Html.ActionLink("Reset Password", "AdminResetPassword", new { user = user.UserName })
            @if (Roles.IsUserInRole("Administrator"))
            {
                <span>|</span>
                if(user.IsLockedOut){
                    @Html.ActionLink("Unlock", "Unlock", new { username = user.UserName });
                }else{
                    <span>Active</span>
                }
                <span>|</span>
                @Html.ActionLink("Delete", "Delete", new { username = user.UserName })
            }
        </td>
    </tr>
}
</table>
