@{
    ViewBag.Title = "Index";
}

@section Header {
    @Html.ActionLink(User.Identity.Name, "Index", "Account", routeValues: null, htmlAttributes: new { @class="ui-btn-right", data_icon = "gear" })
    @Html.ActionLink("Back", "Index", "Home", routeValues: null, htmlAttributes: new { @class="ui-btn-left", data_icon = "arrow-l" })
    <h1>Tools Page</h1>
}

@*<button title="NotesButton" value="Notes"></button>
<button title="WageCalculatorButton" value="Wage Calculator"></button>
<button title="CalendarButon" value="Calendar"></button>*@



<table style="width: 100%">
    <tr>
        <td style="width:50%">
            <ul data-role="listview" data-inset="true">
                <li style="height: 150px;">
                    @Html.ActionLink("Wage Calculator", "WageCalculator", "Tools")
                    <i class="fa fa-calculator fa-5x btn-icon"></i>
                </li>
            </ul>
        </td>
        <td>
            <ul data-role="listview" data-inset="true">
                <li style="height: 150px;">
                    @Html.ActionLink("Notes", "Notes", "Tools")
                    <i class="fa fa-pencil fa-5x btn-icon"></i>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <ul data-role="listview" data-inset="true">
                <li style="height: 150px;">
                    @Html.ActionLink("Calendar", "Calendar", "Tools")
                    <i class="fa fa-calendar fa-5x btn-icon"></i>
                </li>
            </ul>
        </td>
    </tr>
</table>