<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/mobileCss", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/font-awesome.css")
        @Styles.Render("~/Content/font-awesome.min.css")
        @Scripts.Render("~/bundles/jquery")
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>
        <div data-role="page" data-theme="b">
            <div data-role="header">
                @if (IsSectionDefined("Header")) {
                    @RenderSection("Header")
                } else {
                    @Html.Partial("_LoginPartial")
                    <h1>@ViewBag.Title</h1>
                }
            </div>
            <div data-role="content">
                @RenderBody()
            </div>
        </div>

        
        <script>
            $(document).on("mobileinit", function () {
                $.mobile.ajaxEnabled = false;
            });

            $(function () {
                $("li i").on("click", function () {
                    $(this).prev()[0].click();
                });
            });
        </script>
        @Scripts.Render("~/bundles/jquerymobile")
        @RenderSection("scripts", required: false)
    </body>
</html>
