@model PJCAdmin.Models.user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>user</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.city)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.city)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.state)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.state)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.homePhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.homePhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mobilePhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mobilePhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.workPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.workPhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userTypeID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.userID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
